<div id="app">
  <div class="smallfon">
    <div class="blocktwitter"><img src="src/assets/twitter.png"  class="twitter"/></div>
    <div class="addTextPost">Add a post</div>
    <input type="text" v-model="createTitle" class="created"/>
    <input type="text" v-model="createBody" class="created"/>
    <div><button  @click="addPost()" class="addPost">AddPost</button></div>
  <div class="post1">
    <div class="yourPosts">Your Posts</div>
    <ul>
      <li v-for="(post, index) of paginatedData" class="post">
        <p><span class="boldText">Title:</span> {{ post.title }}</p>
        <p><span class="boldText">Content:</span> {{ post.body }}</p>
        <button  @click="deleteData(index, post.id)" class="buttonDelete">Delete</button>
        <button @click="visiblePostID = post.id" class="buttonChange">Change</button>
        <div v-if="visiblePostID === post.id" class="modalWindow">
        <div><input  v-model="post.title" class="changePost"><input  v-model="post.body" class="changePost"></div>
        <button type="button" @click="changePost(post.id, post.title, post.body)" class="apply">To apply</button>
      </div>
      </li>
    </ul>
    <div class="allpagination">
      <button type="button" @click="page -=1" v-if="page > 0" class="prev"><<</button>
  <div class="pagin">
    <button class="item"
            v-for="n in evenPosts"
            :key="n.id"
            v-bind:class="{'selected': current === n.id}"
            @click="page=n-1">{{ n }} </button>
  </div>
      <button type="button" @click="page +=1" class="next" v-if="page < evenPosts-1">>></button>
    </div>

  </div>
  </div>
</div>
